* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
a {
    color: #7c9ab7;
    font-weight: 700;
    text-decoration: none;
}
p {
    margin: 10px 0;
}
input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}
button {
    padding: 10px;
    background: #e3e3e3;
    cursor: pointer;
    border: none;
}
.message {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.logout {
    text-align: center;
    color: #b7625c;
}